<div class="block-content">
    <dl id="narrow-by-list">
        <dt class="odd">Customer Reviews</dt>
        <dd class="odd">
            <div style="min-height: 100px; overflow: hidden; height: 164px;" class="shopperapproved_widget sa_rotate sa_vertical sa_count1 sa_colorBlack sa_borderGray sa_nodate sa_large sa_noborder sa_bgInherit "><div class="sa_review" style="display: block;"><div class="sa_info"><span style="white-space: nowrap"><span class="sa_star sa_activestar"></span><span class="sa_star sa_activestar"></span><span class="sa_star sa_activestar"></span><span class="sa_star sa_activestar"></span><span class="sa_star sa_activestar"></span></span><div class="sa_name"><span class="sa_displayname">Jose</span><span class="sa_location">- <span class="sa_stateprov">GU</span>, <span class="sa_country">United States</span></span></div><div class="sa_date"></div></div><div class="sa_comments" style="padding-bottom: 10px">I really am enjoying the new lift chair. After knee...</div></div><div style="clear:both;"></div></div><script type="text/javascript">var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('//www.shopperapproved.com/widgets/testimonial/9851.js'); shopper_first = true; </script><div style="text-align:right;"><a href="http://www.shopperapproved.com/reviews/colemanfurniture.com/" target="_blank" rel="nofollow" onclick="return sa_openurl(this.href);"><img class="sa_widget_footer" alt="" src="https://www.shopperapproved.com/widgets/widgetfooter-darklogo.png" style="border: 0;"></a></div>
            <div style="height:30px;">&nbsp;</div>
        </dd>
    </dl>
</div>